doctype html 
html(lang="en")
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
        title Natours | Exciting tours for adventurous people
    body    
        include __header

        main.main
            include __main

        include __footer