doctype html 
html(lang="en")
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/x-icon")
        title Natours | Exciting tours for adventurous people
        script(src="/js/axios.js" defer) 
        if user
            script(src="js/loguot.js" defer)
         
    body    
        include __header

      
        block content


        include __footer